/vendor
/composer.lock
.phpunit.result.cache
.phpunit.cache/
.pest.xml
.phpstan.cache
rector-cache
.php-cs-fixer.cache
.idea
.vscode
.DS_Store
.env
.env.testing
/node_modules
/public/build
/public/hot
/storage/app/theme-backups/*
!/storage/app/theme-backups/.gitkeep
/.phpstan_tmp
/build
